#conteudo {
    width: 900px;
    height: 900px;
    /* background-color: firebrick; */
    margin: 0 auto;
}

#cabecalho {
    width: 900px;
    height: 300px;
    /* background-color: chocolate; */
    display: flex;
}

#destaques {
    width: 900px;
    height: 200px;
    /* background-color: darkgoldenrod; */
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;

}

#feed {
    height: fit-content;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
    /* background-color: darkkhaki; */

}

.secao {
    width: 100%;

}

#fotodeperfil {
    width: 300px;
    height: 300px;
    /* background-color: chocolate; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#textodeperfil {
    width: 600px;
    height: 300px;
    /* background-color: mediumturquoise; */


}

img {
    border-radius: 50%;
    align-self: center;
    width: 200px;
}

#seguidores {
    margin-right: 45px;

}

#Davi de Paula {
    margin-right: 45px;

}

.juntinhos {
    margin: 0;


}

.quasejuntinho {
    margin-bottom: 0;

}

.nome {
    margin-bottom: 0;
}

.pill {
    /* Alinha os itens na horizontal e centraliza verticalmente */
    display: inline-flex;
    align-items: center;
    gap: 8px;
    /* Espaço controlado entre o ícone e o texto */

    /* Cores e formato correto */
    background-color: #8a8888;
    /* O cinza escuro do seu fundo */
    padding: 6px 14px;
    /* Espaçamento interno pequeno */
    border-radius: 50px;
    /* Garante o formato de pílula arredondada */

    /* REMOVA qualquer propriedade de width (largura) ou height (altura) fixa daqui! */
}

.pill img {
    /* ISSO ENCOLHE O ÍCONE GIGANTE: */
    width: 16px;
    /* Deixa o ícone do tamanho de uma letra */
    height: 16px;
    /* Mantém a proporção idêntica */
    border-radius: 50%;
    /* Garante que o fundo branco dele continue um círculo perfeito */
    object-fit: contain;
    /* Impede que o desenho mude de formato */
}

.text {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #000000;
    /* Cor do texto digitalcollegebr */
}

i {
    width: 20px;
    height: 20px;
    display: inline-flex;
    gap: 5px;
    background-size: 20px;
    background-image: url(images\ 4.png);
}

.destaque {
    height: 200px;
    width: 150px;
    /* background-color: chartreuse; */
    padding: 33px 25px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;

    img {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        object-fit: cover;
    }
}

#feed {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
    object-fit: cover;
    height: 500px;
    padding: 20px 10px;


    img {
        object-fit: cover;
        border-radius: 0;
        display: block;
        height: 400px;
        width: 298px;


    }
}

* {
    font-family: ;
}

h3 {
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}