*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: rgb(44, 44, 44); 
    font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.feed meio{
display: grid;
grid-template-columns: 1fr 400px 1fr; 
  gap: 20px;
}
.banner{
    width: 100%;
  height: 300px;
 background-image: linear-gradient(to right, #161718, hsl(0, 85%, 22%));
}


